@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans leading-main bg-customColor-bg overflow-x-clip max-h-dvh;
    }
}

@layer utilities {
    .scrollbar-custom {
        scrollbar-width: thin;
        /* Dùng cho Firefox */
        scrollbar-color: #444444;
        /* thumb và track cho Firefox */
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar-custom::-webkit-scrollbar {
        width: 4px;
        /* Độ rộng của thanh cuộn */
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: #444444;
        /* Màu của thumb */
        border-radius: 4px;
    }
}

/* styles cho thư viện react-datepicker */

.react-datepicker__tab-loop {
    position: absolute;
    top: 0;
}

.react-datepicker__input-container input::placeholder,
.placeholder-custom::placeholder {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #bbb;
}

.react-datepicker__day--today {
    background-color: #333; /* Nền của ngày hôm nay */
    color: white;
}

.react-datepicker__day--selected {
    background-color: #efa1bb; /* Nền của ngày đã chọn */
    color: white;
}

.react-datepicker-wrapper {
    display: block !important;
}

.show-ellipsis {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
}
